html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: #f9f9ff;
}

.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-text {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: initial;
  margin-bottom: initial;
  margin-right: 4px;
  margin-left: 4px;
  line-height: 20px;
  font-size: 14px;
  color: rgb(42, 54, 50);
  overflow: hidden;
}

.comment-container {
  background: rgb(255, 255, 255);
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(212, 215, 214);
  max-width: 400px;
  height: 48px;

  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.comment-time {
  color: rgba(42, 54, 50, 0.5);
  font-size: 14px;
  white-space: nowrap;
  line-height: 20px;
  font-weight: 400;
}
.comment-profile {
  height: 24px;
  width: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 235, 235);
  border-image: initial;
}

.comment-open {
}
